# COPY EVERTYHING, CREATE A NEW FILE CALED '.env' AND PASTE IT INSIDE THE NEW FILE.

# PORT
PORT=3000

# PostgreSQL Database
DB_USER=admin
DB_PASSWORD=marginalia_admin_password
DB_NAME=marginalia

# Prisma PostgreSQL URL
DATABASE_URL="postgresql://admin:marginalia_admin_password@localhost:5432/marginalia?schema=public"

# SECRET
JWT_SECRET=very_secret_value